{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2017",
    "externalHelpers": true,
    "keepClassNames": true,
    "loose": false,
    "minify": {
      "compress": true,
      "mangle": false
    },
    "baseUrl": "src",
    "paths": {
      "@/*": ["*"],
      "@configs/*": ["configs"],
      "@database/*": ["database"],
      "@exceptions/*": ["exceptions"],
      "@middlewares/*": ["middlewares/*"],
      "@utils/*": ["utils/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
